.root {
  position: relative;
}

.input {
  border: 0;
  border-radius: 20px;
  padding: 15px 30px;
  margin-left: 15px;
  font-size: 20px;

  &:focus {
    border: 1px solid black;
  }
}

.icon {
  opacity: 0.5;
  width: 18px;
  height: 18px;
  position: absolute;

  top: 18px;
  left: 23px;
  
}

.xmark {
  width: 18px;
  height: 18px;

  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;

  opacity: 0.3;

  &:hover {
    opacity: 0.8;
  }
}
